@import "tailwindcss";

:root {
  --background: #050816; /* Dark navy */
  --foreground: #F9FAFB; /* Texto casi blanco */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #050816; /* Mantener mismo fondo en modo oscuro */
    --foreground: #F9FAFB;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
